<div class="container mt-4">
  <h3>{{ isEdit ? 'Editar' : 'Nova' }} Venda</h3>

  <form (ngSubmit)="isEdit ? atualizarVenda(venda) : salvarVenda()" class="form">
    <!-- Campos de entrada para cadastrar uma nova venda -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Nome do Cliente</label>
          <input required type="text" class="form-control border" [(ngModel)]="venda.nomeCliente" name="nomeCliente"
            id="nomeCliente" [formControl]="nomeCliente">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="form-group">
            <label for="canalVendaSelect">Canal de Venda:</label>
            <select id="canalVendaSelect" class="form-control" name="canalVenda" [(ngModel)]="venda.canalVenda">
              <option value="LOJA">LOJA</option>
              <option value="WHATSAPP">WHATSAPP</option>
              <option value="ML">ML</option>
              <option value="SHOPEE">SHOPEE</option>
              <option value="AMAZON">AMAZON</option>
              <option value="OUTROS">OUTROS</option>
            </select>
          </div>
        </div>
      </div>
    </div>



    <!-- Lista de Produtos -->
    <div class="row">
      <div class="col">
        <h4>Lista de Produtos</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Nome Produto</th>
              <th>Quantidade</th>
              <th>Valor Unitário</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of venda.itens; let i = index">
              <td>{{ item.nomeProduto }}</td>
              <td>{{ item.quantidade }}</td>
              <td>{{ item.valorUnit }}</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="editarItem(item, i)">
                  <i class="bi bi-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="confirmarExclusaoItem(i)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <input required type="text" class="form-control" [(ngModel)]="novoItem.nomeProduto" name="nomeProduto"
                  [ngbTypeahead]="buscarProdutos" (selectItem)="selecionarProduto($event)" />
              </td>
              <td>
                <input required type="number" class="form-control border" [(ngModel)]="novoItem.quantidade"
                  name="quantidade">
              </td>
              <td>
                <input type="number" class="form-control border" [(ngModel)]="novoItem.valorUnit" name="valorUnitario">
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="adicionarItem()">
                  <i class="bi bi-plus"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Botões de ação -->
    <div class="row">
      <div class="col">
        <button [disabled]="!validaCampos()" type="submit" class="btn btn-primary">
          <i class="bi bi-save"></i> {{ isEdit ? 'Atualizar' : 'Salvar' }}
        </button>
        <button *ngIf="!isEdit" type="button" class="btn btn-secondary" (click)="limparFormulario()">Limpar</button>
                <button *ngIf="isEdit" type="button" class="btn btn-warning"
                    (click)="cancelarEdicao()">Cancelar Edição</button>
      </div>
    </div>
  </form>

  <div class="mt-4">
    <h4>Vendas Cadastradas</h4>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr class="table-primary">
          <th>ID</th>
          <th>Nome do Cliente</th>
          <th>Canal de Venda</th>
          <th>Valor Total da Venda</th>
          <th>Data da Venda</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vendaItem of vendas" [ngClass]="{'table-hoverable-row': true}">
          <td>{{ vendaItem.vendaId }}</td>
          <td>{{ vendaItem.nomeCliente }}</td>
          <td>{{ vendaItem.canalVenda }}</td>
          <td>{{ vendaItem.valorTotalVenda }}</td>
          <td>{{ vendaItem.dataVenda }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-primary" (click)="editarVenda(vendaItem)">
              <i class="bi bi-pencil"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger" (click)="confirmarExclusaoVenda(vendaItem)">
              <i class="bi bi-trash"></i>
            </button>
            <button type="button" class="btn btn-sm btn-info" (click)="openModal(viewSaleModal, vendaItem)">
              <i class="bi bi-eye"></i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>

    <app-paginacao [currentPage]="page" [pageSize]="pageSize" [totalElements]="totalElements"
      (pageChanged)="changePage($event)" (pageSizeChanged)="changePageSize($event)"></app-paginacao>
  </div>
</div>
<!-- Venda Component HTML -->

<!-- Modal -->
<ng-template #viewSaleModal let-modal>

  <div class="modal-header">
    <p class="modal-title" id="viewSaleModalLabel">Detalhes da Venda</p>
    <h3  type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </h3>
  </div>
  <div class="modal-body">
    <h5>Informações da Venda:</h5>
    <p><strong>Nome do Cliente:</strong> {{ vendaDetalhes.nomeCliente }}</p>
    <p><strong>Canal de Venda:</strong> {{ vendaDetalhes.canalVenda }}</p>
    <p><strong>Valor Total da Venda:</strong> {{ vendaDetalhes.valorTotalVenda }}</p>
    <p><strong>Data da Venda:</strong> {{ vendaDetalhes.dataVenda }}</p>
    
    <h5>Itens da Venda:</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Nome do Produto</th>
          <th>Quantidade</th>
          <th>Valor Unitário</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of vendaDetalhes.itens">
          <td>{{ item.nomeProduto }}</td>
          <td>{{ item.quantidade }}</td>
          <td>{{ item.valorUnit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fechar</button>
  </div>
</ng-template>