<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <h5 class="card-header">Faturamento</h5>
          <div class="card-body">
            <h6 class="card-title">Anual:</h6>
            <h6 class="card-title">Média Mensal:</h6>
            <h6 class="card-title">Mês Atual:</h6>  
          </div>
          <div class="card-footer text-muted">Rodapé do card</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <h5 class="card-header">Gastos</h5>
          <div class="card-body">
            <h6 class="card-title">Anual:</h6>
            <h6 class="card-title">Média Mensal:</h6>
            <h6 class="card-title">Mês Atual:</h6>  
          </div>
          <div class="card-footer text-muted">Rodapé do card</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <h5 class="card-header">Lucros</h5>
          <div class="card-body">
            <h6 class="card-title">Anual:</h6>
            <h6 class="card-title">Média Mensal:</h6>
            <h6 class="card-title">Mês Atual:</h6>            
          </div>
          <div class="card-footer text-muted">Rodapé do card</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <h5 class="card-header">Ativo</h5>
          <div class="card-body">
            <h6 class="card-title">Estoque:</h6>
            <h6 class="card-title">Caixa:</h6>
            <h6 class="card-title">Devedores:</h6>  
          </div>
          <div class="card-footer text-muted">Rodapé do card</div>
        </div>
      </div>
    </div>
  </div>