<div class="container mt-4">
    <h3>Gastos</h3>
    <form (ngSubmit)="salvarGasto()" class="form">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Descrição</label>
                    <input required type="text" class="form-control border" [(ngModel)]="gasto.descricao"
                        name="descricao" [formControl]="descricao">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Valor</label>
                    <input required type="text" class="form-control border" [(ngModel)]="gasto.valor"
                        name="valor" [formControl]="valor" mask="separator.2" thousandSeparator="." prefix="R$">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <button [disabled]="!validaCampos()" type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" (click)="limparFormulario()">Limpar</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="table-primary">
                <th>ID</th>
                <th>Descricao</th>
                <th>Valor</th>
                <th>Data</th> 
                <th>Ações</th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gastoItem of gastos" [ngClass]="{'table-hoverable-row': true}">
                <td>{{ gastoItem.gastoId }}</td>
                <td>{{ gastoItem.descricao }}</td>
                <td>{{ gastoItem.valor | currency }}</td>
                <td>{{ gastoItem.dataRegistro }}</td>              
                <td>                  
                    <button class="btn btn-sm btn-danger" (click)="excluirGasto(gastoItem.gastoId)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>  
    <app-paginacao [currentPage]="page" [pageSize]="pageSize" [totalElements]="totalElements"
        (pageChanged)="changePage($event)" (pageSizeChanged)="changePageSize($event)"></app-paginacao>  
</div>
