<div class="container">
    <div *ngIf="fiado">
        <div class="card">
            <div class="card-header bg-info"> <!-- Adicione a classe "bg-primary" aqui -->
                <h2>Detalhes da Compra</h2>
            </div>
            <div class="card-body">
                <p><strong>Nome:</strong> {{ fiado.nomeCliente }}</p>
                <p><strong>Valor Total da Compra:</strong> {{ fiado.valorTotal | currency }}</p>
                <p><strong>Valor Pendente:</strong> {{ fiado.valorPendente | currency }}</p>
                <p><strong>Data da Compra:</strong> {{ fiado.dataRegistro | date }}</p>
                <p><strong>Observações:</strong> {{ fiado.observacoes }}</p>
            </div>
        </div>
        <div class="card tabela-pagamentos">
            <div class="card-header bg-info">
                <h2>Pagamentos</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th>Data</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pagamento of fiado.pagamento">
                            <td>{{ pagamento.dataDoPagamento | date }}</td>
                            <td>{{ pagamento.valorPagamento | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
