.container {
    margin-top: 2rem;
}

.form {
    margin-bottom: 2rem;
}

.row {
    margin-bottom: 1rem;
}

.btn-primary {
    margin-right: 0.5rem;
}

.btn-secondary {
    margin-right: 0.5rem;
}

.custom-input {
    background: none;
    border: none;
    outline: none;
}

.tabela-pagamentos {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hide-header app-header {
    display: none;
  }
  