.container {
    margin-top: 2rem;
}

.form {
    margin-bottom: 2rem;
}

.row {
    margin-bottom: 1rem;
}

.btn-primary {
    margin-right: 0.5rem;
}

.btn-secondary {
    margin-right: 0.5rem;
}

.custom-input {
    background: none;
    border: none;
    outline: none;
}

.disable-click {
    pointer-events: none;
    opacity: 0.6;
}

@media (max-width: 767px) {
    .hide-on-mobile {
      display: none;
    }
  }
  