<div class="container-paginacao">
  <nav class="pagination-wrapper">
    <ul class="pagination pointer-cursor">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" [class.active]="currentPage === index" *ngFor="let index of getVisiblePageIndexes()">
        <a class="page-link" (click)="changePage(index)">{{ index + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === (totalElements / pageSize) - 1">
        <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
    <div class="page-size-selector">
      <select id="pageSizeSelect" class="form-select pointer-cursor" [(ngModel)]="pageSize" (ngModelChange)="changePageSize($event)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="500">500</option>
      </select>
    </div>
  </nav>
</div>
